# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# dotenv (environment variables)
.env

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE settings
.vscode/
.idea/

# macOS files
.DS_Store
backend/app/models/Mistral-7B-v0.1/
# entornos virtuales
venv/
.venv/

# pesos de modelos grandes (los subirás luego con Git LFS)
backend/app/models/Mistral-7B-v0.1/

# ficheros temporales de macOS y editor
.DS_Store
.idea/
.vscode/
ViralTikAI/
